/* Custom scrollbar for cart and other scrollable areas */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #e0e0e0;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b5e48c;
  border-radius: 8px;
}
/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b5e48c #e0e0e0;
}

@font-face {
  font-family: 'UAEDirham';
  src: url('/fonts/font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
